<p id="notice"><%= notice %></p>

<h1 class="text-center">Gardens</h1>

<div class="container mt-5">
  <% @gardens.each do |garden| %>
    <div class="row justify-content-center mb-3">
      <div class="col-6 rounded text-center py-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= garden.banner_url %>)">
        <h2 class="text-white"><%= garden.name %></h2>
        <div class="links">
          <p><%= link_to 'Show', garden %></p>
          <p><%= link_to 'Edit', edit_garden_path(garden) %></p>
          <p><%= link_to 'Destroy', garden, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Garden', new_garden_path %>
